.property-list-btn{
  width: 59%;
  display: block;
  margin: 0 auto;
  height: 64px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 64px;
  text-align: center;
      font-family: sans-serif;

}
.property-list-btn a{

    color: #c8b7c2 !important;
    background-color: #681e53;
    font-size: 28px;
    padding: 0px 30px;
     font-family: sans-serif;
 
}
.property-style{
    border-bottom: 1px solid #fff;
    background: #5fa9de;
        font-family: sans-serif;
}
.property-style .panel-title{
background: #5fa9de;
    color: #6a1951;
    padding: 40px 0px;
        font-family: sans-serif;
    text-align: left;
    width: 34%;
    display: block;
    margin: 0 auto;
    position: relative;
    padding-right: 30px;
   }
.property-style .panel-title a{
    background: #5fa9de;
       color: #6a1951;
       display: block;
           font-family: sans-serif;
       font-size: 24px;
       line-height: 33px;}

.accordion-plus .panel-title .panel-default:first-child a:after, .accordion-plus .panel-title a.collapsed:after {
 content: "\f067";
    font-family: FontAwesome;
}


.accordion-plus .panel-title a:after {
    content: "\f068";
    font-family: FontAwesome;
}
.property-style .panel-collapse{
   background: #5fa9de; 
       font-family: sans-serif;
}
.accordion-plus .panel-title a:before {
  content:none;
}
.accordion-plus .panel-title .panel-default:first-child a:before, .accordion-plus .panel-title a.collapsed:before {
 content: none;
}



.property-style-bg .accordion-plus .panel-title a:after {

    border: 0px;
    border-radius: 0px;
    font-weight: lighter;
    background:#5fa9de ;

    color:#fff;
        position: absolute;
    right: 0;

}
.property-style-bg .panel-body{

    color: #6a1951;
    color: #2c4275;
    padding-bottom: 1em;
    text-align: justify;
    width: 57%;
        font-family: sans-serif;
    margin: 0 auto;
    display: block;
    font-size: 22px;
    line-height: 27px;
}
.property-style-bg .panel-body a{
  color:#fff;
      font-family: sans-serif;
}
.property-slider{
  text-align: center;
      font-family: sans-serif;
}
.property-slider .swiper-slide{

}
.property-style{
  margin-top: 0px !important;
}
.pro-slide{
  float: none;
      font-family: sans-serif;
  display: block;
  margin: 0 auto;
}
.pro-next{
  left: 0px;
      font-family: sans-serif;
  right: auto;
  font-size: 30px;
  color:#000;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background: none;
}
 
.pro-prev{
  right: 0px;
  background: none;
  font-size: 30px;
      font-family: sans-serif;
  color:#000;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background: none;
  left: auto;
} 

.pro-sty h3{    color: #6b6b6b;
    font-weight: bold;
    font-size: 18px;
      font-family: sans-serif;}
.pro-sty p{
  color: #6b6b6b;
    text-align: left;
        font-family: sans-serif;
font-size: 20px;
line-height: 24px;}

.property-heading1_ {
    background: url(images/property-bg.png);
    height: 140px;
    line-height: 137px;
    text-align: center;
    margin-top: 0;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    font-family: 'Tangerine', serif;
    background-size: cover;
    margin-bottom: 0;

}
 .bg__color--white{
background: #edeeec;}
.property-style_faq{
    border: 0px;
    background: transparent;
        font-family: sans-serif;
}
.property-style-bg_faq{
	width: 70%;
	display: block;
	margin: 0 auto;
}
.property-style_faq .panel-title{
 background: transparent;
    color: #8d8d8d !important;
    padding: 14px 10px 21px 10px;
    font-family: sans-serif;
    text-align: left;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    border-top: 1px solid #222;

   }
.property-style_faq .panel-title a{
    background: transparent;
         font-weight: bold;
    color: #8d8d8d;
    font-size: 28px;
transition:.4s;
       display: block;
           font-family: sans-serif;
       font-size: 24px;
       line-height: 33px;}

/*.property-style_faq .panel-title a:focus{
	text-align: center;
}*/
.property-style_faq .panel-collapse{
   background: transparent; 
       font-family: sans-serif;
}

.property-style_faq .accordion-plus .panel-title .panel-default:first-child a:before, .accordion-plus .panel-title a.collapsed:before{
	content: none;
}
.property-style-bg_faq .accordion-plus .panel-title a:before{
    content: none;
}
.bg__color--grey{
	background: #dbe0e4;
}
.property-style-bg_faq .accordion-plus .panel-title a:after {

    border: 0px;
    border-radius: 0px;
    font-weight: lighter;
    background:transparent; ;

    color:#fff;
        position: absolute;
    right: 0;

}
.property-style-bg_faq .panel-body{

    color: #8d8d8d !important;
    text-align: justify;
    width: 100%;
    font-family: sans-serif;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    line-height: 25px;
      padding: 14px 10px 21px 10px;
}
.property-style-bg_faq{
	margin-top: 40px;
}
.property-style-bg_faq h4{
  font-weight: bold;
    color: #8d8d8d;
    font-size: 28px;
    padding: 14px 10px 0px 10px;
       display: block;
           font-family: sans-serif;
       font-size: 24px;
}
.property-style_faq .panel-title a:hover{
	color:#222;
}
.property-style-bg_faq .panel-body a{
  color:#fff;
      font-family: sans-serif;
}

.property-style_faq{
  margin-top: 0px !important;
}

.property-style_faq {
	box-shadow: 0px 0px 0px #fff;
}

.property-heading2_ {
    background: url(images/faq.png);
    height: 140px;
    line-height: 137px;
    text-align: center;
    margin-top: 0;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    font-family: 'Tangerine', serif;
    background-size: contain;
    margin-bottom: 5px;

}

.property-heading__bg{
color: #fff;
    text-align: center;
    height: 179px;
      padding-top: 50px;
    background-color: #73b3e1;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.property-heading__bg a{     color: #c8b7c2 !important;
    background-color: #681e53;
    width:240px;
    height:32px;
    line-height: 32px;
    display: block;
    font-size: 16px;
    margin: 0 auto; 
    margin-top: 10px;}
.property-heading3_ {
    background: url(images/fale.png);
    height: 132px;
    line-height: 132px;
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    font-family: 'Tangerine', serif;
    background-size: contain;


}
.contact-form{
  background:url('images/c-bg.png');
  padding-bottom: 40px;

}
.contact__form{
  width: 60%;
  padding-bottom: 80px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.contact__form input{    color: #929292;
    border: solid 1px #929292;
    width: 100%;
    margin-top: 1em;
    resize: none;
    padding-left: 1em;
    padding-bottom: 1em; outline: 0;
    padding-top: 1em;
    font-family: 'Roboto Condensed', sans-serif;}
.contact__form textarea{    color: #929292;
    border: solid 1px #929292;
    width: 100%;
    margin-top: 1em;
    height: 270px;
    resize: none;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
      outline: 0;

    font-family: 'Roboto Condensed', sans-serif;}
.contact__form input:focus {
    border-color: #dadada !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgb(223, 231, 236);
    outline: 0 none;
}
.contact__form textarea:focus {
    border-color: #dadada;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgb(223, 231, 236);
    outline: 0 none;
}
    .contact__form input:hover,.contact__form textarea:hover{
      background: #dadada;
   border-color: none;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 0px rgb(223, 231, 236);
    outline: 0 none;
    }
.contact__form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #929292;
  font-size: 16px;
}
.contact__form ::-moz-placeholder { /* Firefox 19+ */
  color: #929292;  font-size: 16px;
}
.contact__form :-ms-input-placeholder { /* IE 10+ */
  color: #929292;  font-size: 16px;
}
.contact__form :-moz-placeholder { /* Firefox 18- */
  color: #929292;  font-size: 16px;
}

.contact__form ::-webkit-textarea-placeholder { /* Chrome/Opera/Safari */
  color: #929292;
  font-size: 16px;
}
.contact__form ::-moz-placeholder { /* Firefox 19+ */
  color: #929292;  font-size: 16px;
}
.contact__form :-ms-textarea-placeholder { /* IE 10+ */
  color: #929292;  font-size: 16px;
}
.contact__form :-moz-placeholder { /* Firefox 18- */
  color: #929292;  font-size: 16px;
}

.contact__form--btn-style{
 color: #c8b7c2 !important;
    background-color: #681e53;
    height: 35px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
border-radius: 0px;
font-family: sans-serif;
}
.contact__form--btn-style:hover{
  opacity: .8;
}

.property-heading4_ {
    background: url(images/privacy.png);
    height: 132px;
    line-height: 132px;
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    font-family: 'Tangerine', serif;
    background-size: contain;


}
.text-container{  color:#767676;
  font-size: 16px;}
.text-container h3{
  font-size: 24px;
  color:#767676;
  font-weight: bolder;
  font-family: sans-serif;
  text-shadow: 0 0 0 #767676;
}
.text-container p{
  color:#767676;
  font-size: 17px;
  font-family: sans-serif;

  line-height: 24px;
}


.property-heading5_ {
    background: url(images/hos.png);
    height: 132px;
    line-height: 132px;
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    font-family: 'Tangerine', serif;
    background-size: contain;


}
.text-container{  color:#767676;
  font-size: 16px;}
.text-container h3{
  font-size: 24px;
  color:#767676;
  font-weight: bolder;
  font-family: sans-serif;
  text-shadow: 0 0 0 #767676;
}
.text-container p{
  color:#767676;
  font-size: 17px;
  font-family: sans-serif;

  line-height: 24px;
}
.modal_{
  background: rgba(0,0,0,0.6);
  z-index: 9999;

}
.modal-content_{
border-radius: 4px;
padding: 20px;
width: 67%;
box-shadow: none;
background: #fff;
}
.modal-title{

color: #222;
font-size: 24px;
font-weight: bolder;
font-family: sans-serif;
margin-top: 20px;
}
.modal-header{
border-bottom: 0px solid #fff;
padding: 0px;
}
.modal-body .form-control:nth-child(4),
.modal-body .form-control:nth-child(5),
.modal-body .form-control:nth-child(6),
.modal-body .form-control:nth-child(7){
  width: 49%;

  display: inline-block;
  vertical-align: top
}
.modal-body .form-control{
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 37px;
}
select.form-control{
  color:#999;
  font-size:16px;
}
.textarea_{
  height: 150px !important;
}
.slider_detail .modal-body{
padding: 0px;
}
.modal-body .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#999;
  font-size: 16px;
  font-family: sans-serif;
}
.modal-body .form-control::-moz-placeholder { /* Firefox 19+ */
    color:#999;
  font-size: 16px;
  font-family: sans-serif;}
.modal-body .form-control:-ms-input-placeholder { /* IE 10+ */
    color:#999;
  font-size: 16px;
  font-family: sans-serif;
}
.modal-body .form-control:-moz-placeholder { /* Firefox 18- */
    color:#999;
  font-size: 16px;
  font-family: sans-serif;
}

.submit__btn{
  margin: 0 auto;
  background: #f6af33 !important;
  margin-top: 30px;
  width:140px;
  display: block;
  border:none;
  border-radius: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: sans-serif;
  color:#fff;
  font-size: 18px;
}
.modal-dialog {
    top: 8%;
}

.datepicker {
  /*top:847px !important;*/
}

.fa-right{
    font-size: 62px;
    top: 220px;
    position: absolute;
    right: 100px;
    z-index: 9;
    cursor: pointer;
    overflow: hidden;
  }
  .fa-left{
      font-size: 62px;
    top: 220px;
    position: absolute;
    left: 100px;
    z-index: 9;
    cursor: pointer;
    overflow: hidden;
  }
 .slider_detail .modal-content{
width: 70%;
border-radius: 6px;
}
.strip_modal .modal-header{
/*border-bottom:1px solid #e5e5e5;*/
padding: 0px 15px;
}
.strip_modal{
z-index: 9999;
background: rgba(0,0,0,0.6);
}
.strip_modal .modal-title{
  margin-top: 30px;
}
.strip{
  width: 100%;

}
.strip_modal .modal-body{
  padding: 0px 13px;
  margin-bottom: 20px;

}
.strip_modal_close{
  top:0px !important;
}
.strip_modal .modal-content{
  box-shadow: 0px 0px 0px #fff;
  padding: 12px;
}

.loading-img
{
    width:80px;
    height:80px;
}
.rating-static {
   width: 60px;
  height: 16px;
  display: block;
  background: url('images/ratings.jpg') 0 0 repeat;
}


.rating-5 { background-position: -60px 0; }
.rating-4 { background-position: -72px 0; } 
.rating-3 { background-position: -84px 0; }
.rating-2 { background-position: -96px 0; }
.rating-1 { background-position: -108px 0; }
.rating-0 { background-position: -120px 0; }
 

/*.starRating input[type="radio"]:checked+label::after { content: attr(data)  " / 10";
 position: absolute; top: 0; right: 100px; font-size: 16px; font-weight: bold;}
*/
.starRating:not(old){
  display: block;
  width          : 16.5em;
  height         : 1.5em;
  /* overflow       : hidden; */
  vertical-align : bottom;
  cursor:pointer;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label {
    display: block;
    float: right;
    position: static;
    background: url('images/star-off.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor:pointer;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

.starRating:not(old) > label.checked:before,
.starRating:not(old) > label.checked ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
.rating-main {text-align: center;}
.rating {
  unicode-bidi: bidi-override;
  text-align:center;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size:24px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   position: absolute;
}

.rating span:nth-child(-n+4){
  color:red;
}
.rating span:nth-child(n+5){
  color:#f4911d;
}
.rating span:nth-child(n+8){
  color:green;
}
.textarea {
    height: 150px !important;
    resize: none;
}


.blockUI {
   
}

.blockUI.blockOverlay {
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    background-image: none !important;
}
.blockUI.blockElement {
    margin: 50px;
    height: 28px !important;
    width: 28px !important; 
    border: 8px solid #61A8DE !important;
    border-right-color: transparent !important;
    border-radius: 50%;
    background: transparent !important;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
.blockUI img {
    display: none !important;
}
.text-center img {
    margin: 30px auto;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
                  